Repository ArpadVS/KTS-NVT_tim9_2019, pull requests merged in 2020-02, with the labels that each got.

#57 navbar component
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/core/components/navbar/navbar.component.html
  frontend/src/app/core/components/navbar/navbar.component.scss
  frontend/src/app/core/components/navbar/navbar.component.spec.ts
  frontend/src/app/core/components/navbar/navbar.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/shared/constants/roles.constant.ts
Labels: front

#58 token interceptor
  frontend/src/app/app.module.ts
  frontend/src/app/core/interceptors/jwt-interceptor.interceptor.spec.ts
  frontend/src/app/core/interceptors/jwt-interceptor.interceptor.ts
  frontend/src/app/core/services/authentication.service.ts
Labels: front

#59 token operations
  frontend/src/app/authentication/login/login.component.ts
  frontend/src/app/core/components/navbar/navbar.component.html
  frontend/src/app/core/components/navbar/navbar.component.ts
  frontend/src/app/core/interceptors/jwt-interceptor.interceptor.ts
  frontend/src/app/core/services/authentication.service.ts
Labels: front

#63 api paths
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/constants.service.spec.ts
  frontend/src/app/core/services/constants.service.ts
  frontend/src/app/shared/constants/roles.constant.ts
Labels: front

#65 map geolocation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/events/event-list/event-list.component.html
  frontend/src/app/events/events.module.ts
  frontend/src/app/location/add-location/add-location.component.html
  frontend/src/app/location/location.module.ts
  frontend/src/app/location/map/map.component.html
  frontend/src/app/location/map/map.component.scss
  frontend/src/app/location/map/map.component.spec.ts
  frontend/src/app/location/map/map.component.ts
Labels: front

#67 maps for geolocation
  frontend/package-lock.json
  frontend/src/app/app.module.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/map.service.spec.ts
  frontend/src/app/core/services/map.service.ts
  frontend/src/app/core/services/user.service.ts
Labels: front

#68 code refactoring
  frontend/src/app/app.module.ts
  frontend/src/app/authentication/login/login.component.ts
  frontend/src/app/core/services/map.service.ts
  frontend/src/app/events/event-list/event-list.component.html
  frontend/src/app/events/event-list/event-list.component.ts
  frontend/src/app/events/events.module.ts
  frontend/src/app/location/location.module.ts
  frontend/src/app/location/map/map.component.html
  frontend/src/app/location/map/map.component.scss
  frontend/src/app/location/map/map.component.ts
Labels: refactoring

#71 auth refactoring
  backend/backend/src/main/java/backend/controller/AuthenticationController.java
  backend/backend/src/main/java/backend/controller/FileUploadController.java
  backend/backend/src/main/java/backend/controller/UserController.java
  backend/backend/src/main/java/backend/service/UserService.java
Labels: refactoring

#74 file upload front
  backend/backend/src/main/java/backend/controller/FileUploadController.java
  backend/backend/src/main/resources/data.sql
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/constants.service.ts
  frontend/src/app/core/services/file-upload.service.spec.ts
  frontend/src/app/core/services/file-upload.service.ts
  frontend/src/app/user/profile/profile.component.html
  frontend/src/app/user/profile/profile.component.ts
Labels: help wanted

#76 image upload front
  backend/backend/src/main/java/backend/config/RestConfig.java
  backend/backend/src/main/java/backend/config/WebSecurityConfig.java
  backend/backend/src/main/java/backend/controller/FileUploadController.java
  frontend/src/app/core/services/file-upload.service.ts
  frontend/src/app/user/profile/profile.component.html
  frontend/src/app/user/profile/profile.component.ts
Labels: front

#77 Marieta
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/constants.service.ts
  frontend/src/app/core/services/location.service.ts
  frontend/src/app/location/hall-form/hall-form.component.html
  frontend/src/app/location/hall-table/hall-table.component.html
  frontend/src/app/location/hall-table/hall-table.component.ts
  frontend/src/app/location/location-form/location-form.component.html
  frontend/src/app/location/location-table/location-table.component.html
  frontend/src/app/location/location.module.ts
  frontend/src/app/location/sector-form/sector-form.component.html
  frontend/src/app/location/sector-form/sector-form.component.scss
  frontend/src/app/location/sector-form/sector-form.component.ts
  frontend/src/app/location/sector-table/sector-table.component.html
  frontend/src/app/location/sector-table/sector-table.component.scss
  frontend/src/app/location/sector-table/sector-table.component.spec.ts
  frontend/src/app/location/sector-table/sector-table.component.ts
  frontend/src/app/location/update-hall/update-hall.component.html
  frontend/src/app/location/update-hall/update-hall.component.ts
  frontend/src/app/location/update-location/update-location.component.html
  frontend/src/app/location/update-location/update-location.component.ts
  frontend/src/app/location/update-sector/update-sector.component.html
  frontend/src/app/location/update-sector/update-sector.component.scss
  frontend/src/app/location/update-sector/update-sector.component.spec.ts
  frontend/src/app/location/update-sector/update-sector.component.ts
Labels: front

#84 registration
  backend/backend/src/main/java/backend/controller/AuthenticationController.java
  backend/backend/src/main/java/backend/controller/UserController.java
  backend/backend/src/main/java/backend/service/UserService.java
  frontend/src/app/app-routing.module.ts
  frontend/src/app/authentication/register/register.component.html
  frontend/src/app/authentication/register/register.component.ts
  frontend/src/app/core/components/navbar-sys-admin/navbar-sys-admin.component.html
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/shared/models/registration.model.ts
  frontend/src/app/user/add-admin/add-admin.component.html
  frontend/src/app/user/add-admin/add-admin.component.scss
  frontend/src/app/user/add-admin/add-admin.component.spec.ts
  frontend/src/app/user/add-admin/add-admin.component.ts
  frontend/src/app/user/user.module.ts
Labels: enhancement

#85 add admin
  frontend/src/app/user/add-admin/add-admin.component.html
  frontend/src/app/user/add-admin/add-admin.component.ts
Labels: front

#86 map fix
  backend/backend/src/main/java/backend/converters/EventConverter.java
  backend/backend/src/main/resources/data.sql
  frontend/src/app/core/services/map.service.ts
  frontend/src/app/events/event-list/event-list.component.ts
Labels: improvement

#92 search back
  backend/backend/src/main/java/backend/controller/EventController.java
  backend/backend/src/main/java/backend/dto/SearchDTO.java
  backend/backend/src/main/java/backend/repository/EventRepository.java
  backend/backend/src/main/java/backend/service/EventService.java
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/constants.service.ts
  frontend/src/app/core/services/event.service.spec.ts
  frontend/src/app/core/services/event.service.ts
  frontend/src/app/events/event-search/event-search.component.html
  frontend/src/app/events/event-search/event-search.component.scss
  frontend/src/app/events/event-search/event-search.component.spec.ts
  frontend/src/app/events/event-search/event-search.component.ts
  frontend/src/app/events/events.module.ts
  frontend/src/app/events/events/event-details/event-details.component.html
  frontend/src/app/events/events/event-details/event-details.component.scss
  frontend/src/app/events/events/event-details/event-details.component.spec.ts
  frontend/src/app/events/events/event-details/event-details.component.ts
  frontend/src/app/shared/models/event-status.enum.ts
  frontend/src/app/shared/models/event-type.enum.ts
  frontend/src/app/shared/models/event.model.ts
  frontend/src/app/shared/models/search.model.ts
Labels: enhancement

#96 detailed events
  frontend/src/app/core/services/event.service.ts
  frontend/src/app/events/event-details/event-details.component.html
  frontend/src/app/events/event-details/event-details.component.ts
  frontend/src/app/events/event-list/event-list.component.ts
  frontend/src/app/events/events.module.ts
  frontend/src/app/shared/models/event-day.model.ts
  frontend/src/app/shared/models/event.model.ts
  frontend/src/app/shared/models/eventDetailed.model.ts
Labels: front
