Repository ArpadVS/KTS-NVT_tim9_2019, pull requests merged in 2020-01, with the labels that each got.

#36 user test
  backend/backend/src/test/java/backend/constants/UserConstants.java
  backend/backend/src/test/java/backend/service/CustomUserDetailsServiceIntegrationTest.java
  backend/backend/src/test/java/backend/service/CustomUserDetailsServiceUnitTest.java
  backend/backend/src/test/java/backend/service/UserServiceIntegrationTest.java
  backend/backend/src/test/java/backend/service/UserServiceUnitTest.java
Labels: test

#37 Marieta
  backend/backend/src/main/java/backend/controller/HallController.java
  backend/backend/src/main/java/backend/controller/SectorController.java
  backend/backend/src/main/java/backend/converters/SectorConverter.java
  backend/backend/src/main/java/backend/model/Sector.java
  backend/backend/src/main/java/backend/model/SittingSector.java
  backend/backend/src/main/java/backend/model/StandingSector.java
  backend/backend/src/main/java/backend/service/SectorService.java
  backend/backend/src/test/java/backend/constants/SectorConstants.java
  backend/backend/src/test/java/backend/controller/HallControllerIntegrationTest.java
  backend/backend/src/test/java/backend/controller/SectorControllerIntegrationTest.java
  backend/backend/src/test/java/backend/repository/HallRepositoryIntegrationTest.java
  backend/backend/src/test/java/backend/repository/SectorRepositoryIntegrationTest.java
  backend/backend/src/test/java/backend/service/HallServiceIntegrationTest.java
  backend/backend/src/test/java/backend/service/SectorServiceIntegrationTest.java
  backend/backend/src/test/java/backend/service/SectorServiceUnitTest.java
  backend/backend/src/test/java/backend/suite/SectorSuite.java
  backend/backend/src/test/resources/data-test.sql
Labels: test

#45 angular-material library
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/styles.scss
Labels: front

#46 selenium tests setup
  selenium-e2e-tests/selenium-e2e-tests/.gitignore
  selenium-e2e-tests/selenium-e2e-tests/.mvn/wrapper/MavenWrapperDownloader.java
  selenium-e2e-tests/selenium-e2e-tests/.mvn/wrapper/maven-wrapper.jar
  selenium-e2e-tests/selenium-e2e-tests/.mvn/wrapper/maven-wrapper.properties
  selenium-e2e-tests/selenium-e2e-tests/mvnw
  selenium-e2e-tests/selenium-e2e-tests/mvnw.cmd
  selenium-e2e-tests/selenium-e2e-tests/pom.xml
  selenium-e2e-tests/selenium-e2e-tests/src/main/java/rs/ac/uns/ftn/selenium_e2e_tests/SeleniumE2eTestsApplication.java
  selenium-e2e-tests/selenium-e2e-tests/src/main/java/rs/ac/uns/ftn/selenium_e2e_tests/pages/HomePage.java
  selenium-e2e-tests/selenium-e2e-tests/src/main/java/rs/ac/uns/ftn/selenium_e2e_tests/pages/SingInPage.java
  selenium-e2e-tests/selenium-e2e-tests/src/main/resources/application.properties
  selenium-e2e-tests/selenium-e2e-tests/src/test/java/rs/ac/uns/ftn/selenium_e2e_tests/SeleniumE2eTestsApplicationTests.java
  selenium-e2e-tests/selenium-e2e-tests/src/test/java/rs/ac/uns/ftn/selenium_e2e_tests/constants/SeleniumChromeWebDriverPaths.java
  selenium-e2e-tests/selenium-e2e-tests/src/test/java/rs/ac/uns/ftn/selenium_e2e_tests/test/LoginTest.java
Labels: test

#47 toastr JS library
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
Labels: front

#48 material module
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/material/material.module.ts
Labels: front

#49 auth module
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth.module.ts
  frontend/src/app/auth/login/login.component.html
  frontend/src/app/auth/login/login.component.scss
  frontend/src/app/auth/login/login.component.spec.ts
  frontend/src/app/auth/login/login.component.ts
  frontend/src/app/auth/register/register.component.html
  frontend/src/app/auth/register/register.component.scss
  frontend/src/app/auth/register/register.component.spec.ts
  frontend/src/app/auth/register/register.component.ts
  frontend/src/app/models/login.model.ts
  frontend/src/app/services/authentication.service.spec.ts
  frontend/src/app/services/authentication.service.ts
Labels: front

#51 refactoring angular project structure
  frontend/src/app/app.module.ts
  frontend/src/app/authentication/authentication.module.ts
  frontend/src/app/authentication/login/login.component.html
  frontend/src/app/authentication/login/login.component.scss
  frontend/src/app/authentication/login/login.component.spec.ts
  frontend/src/app/authentication/login/login.component.ts
  frontend/src/app/authentication/register/register.component.html
  frontend/src/app/authentication/register/register.component.scss
  frontend/src/app/authentication/register/register.component.spec.ts
  frontend/src/app/authentication/register/register.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/authentication.service.spec.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/shared/models/login.model.ts
  frontend/src/app/shared/shared.module.ts
Labels: refactoring

#53 login component
  backend/backend/src/main/java/backend/controller/AuthenticationController.java
  backend/backend/src/main/java/backend/security/TokenUtils.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/authentication/authentication.module.ts
  frontend/src/app/authentication/login/login.component.html
  frontend/src/app/authentication/login/login.component.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/material/material.module.ts
Labels: front

#54 Marieta
  backend/backend/src/main/java/backend/controller/AddressController.java
  frontend/package.json
  frontend/src/app/address/add-address/add-address.component.html
  frontend/src/app/address/add-address/add-address.component.scss
  frontend/src/app/address/add-address/add-address.component.spec.ts
  frontend/src/app/address/add-address/add-address.component.ts
  frontend/src/app/address/address-form/address-form.component.html
  frontend/src/app/address/address-form/address-form.component.scss
  frontend/src/app/address/address-form/address-form.component.spec.ts
  frontend/src/app/address/address-form/address-form.component.ts
  frontend/src/app/address/address-list/address-list.component.html
  frontend/src/app/address/address-list/address-list.component.scss
  frontend/src/app/address/address-list/address-list.component.spec.ts
  frontend/src/app/address/address-list/address-list.component.ts
  frontend/src/app/address/update-address/update-address.component.html
  frontend/src/app/address/update-address/update-address.component.scss
  frontend/src/app/address/update-address/update-address.component.spec.ts
  frontend/src/app/address/update-address/update-address.component.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/address.service.spec.ts
  frontend/src/app/core/services/address.service.ts
  frontend/src/app/shared/models/address.model.ts
  selenium-e2e-tests/selenium-e2e-tests/pom.xml
  selenium-e2e-tests/selenium-e2e-tests/src/test/java/rs/ac/uns/ftn/selenium_e2e_tests/constants/SeleniumChromeWebDriverPaths.java
  selenium-e2e-tests/selenium-e2e-tests/src/test/java/rs/ac/uns/ftn/selenium_e2e_tests/test/LoginTest.java
Labels: front

#55 core module and shared module
  frontend/src/app/app.module.ts
  frontend/src/app/core/core.module.ts
Labels: improvement

#56 Marieta
  frontend/src/app/address/add-address/add-address.component.ts
  frontend/src/app/address/address-list/address-list.component.html
  frontend/src/app/address/address-list/address-list.component.ts
  frontend/src/app/address/address-table/address-table.component.html
  frontend/src/app/address/address-table/address-table.component.scss
  frontend/src/app/address/address-table/address-table.component.spec.ts
  frontend/src/app/address/address-table/address-table.component.ts
  frontend/src/app/address/update-address/update-address.component.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/address.service.ts
  frontend/src/app/shared/models/address.model.ts
Labels: front
